.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.Human {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Name {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: left;
    /*justify-content: center; */
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 10px;
}

.Rep {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 200px;
    overflow-y: scroll;
    margin: 20px;
}