#circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(5, 65, 13);
}

#ContainerForCircle {
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.dropbtn {
    background-color: #ff9fc7;
    color: rgb(8, 2, 2);
    padding: 5px 55px;
    font-size: 16px;
    border: 1px solid brown;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #88267b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    height: 150px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
}